@inject IFuncionarioRepository funcionarioRepository
<GenericList Lista="listaFuncionarios">
    <NullTemplate><p>Loading...</p></NullTemplate>

    <EmptyTemplate><p>Nada encontrado...</p></EmptyTemplate>

    <ElementTemplate Context="ctxFuncionario">

        <ProjetoCinema.Client.Shared.Singles.SingleFuncionario funcionario="ctxFuncionario" Excluir="Excluir" />

    </ElementTemplate>

</GenericList>

<ProjetoCinema.Client.Shared.Dialog.ConfirmationDialog Titulo="Atenção!" @ref="confirmation" onCancel="onCancel" onConfirm="onConfirm">
    <div>Deseja apagar este item?</div>
</ProjetoCinema.Client.Shared.Dialog.ConfirmationDialog>

@code {
    ConfirmationDialog confirmation;
    [Parameter] public List<ProjetoCinema.Server.Models.Funcionario> listaFuncionarios { get; set; }
    ProjetoCinema.Server.Models.Funcionario funcionarioToDelete;

    private async Task onConfirm()
    {
        await funcionarioRepository.DeleteFuncionario(funcionarioToDelete.CodFuncionario);
        listaFuncionarios = await funcionarioRepository.GetFuncionarios();
        confirmation.Hide();
        funcionarioToDelete = null;
    }

    void onCancel()
    {
        confirmation.Hide();
        funcionarioToDelete = null;
    }

    public void Excluir(ProjetoCinema.Server.Models.Funcionario funcionario)
    {
        funcionarioToDelete = funcionario;
        confirmation.Show();
    }

}


