@inject ISessaoRepository sessaoRepository
<GenericList Lista="listaSessoes">
    <NullTemplate><p>Loading...</p></NullTemplate>

    <EmptyTemplate><p>Nada encontrado...</p></EmptyTemplate>

    <ElementTemplate Context="ctxSessao">

        <ProjetoCinema.Client.Shared.Singles.SingleSessao sessao="ctxSessao" Excluir="Excluir" />

    </ElementTemplate>

</GenericList>

<ProjetoCinema.Client.Shared.Dialog.ConfirmationDialog Titulo="Atenção!" @ref="confirmation" onCancel="onCancel" onConfirm="onConfirm">
    <div>Deseja apagar este item?</div>
</ProjetoCinema.Client.Shared.Dialog.ConfirmationDialog>

@code {
    ConfirmationDialog confirmation;
    [Parameter] public List<ProjetoCinema.Server.Models.Sessao> listaSessoes { get; set; }
    ProjetoCinema.Server.Models.Sessao sessaoToDelete;

    private async Task onConfirm()
    {
        await sessaoRepository.DeleteSessao(sessaoToDelete.CodSessao);
        listaSessoes = await sessaoRepository.GetSessoes();
        confirmation.Hide();
        sessaoToDelete = null;
    }

    void onCancel()
    {
        confirmation.Hide();
        sessaoToDelete = null;
    }

    public void Excluir(ProjetoCinema.Server.Models.Sessao sessao)
    {
        sessaoToDelete = sessao;
        confirmation.Show();
    }

}
