@inject IDiretorRepository diretorRepository 
<GenericList Lista="listaDiretores">
    <NullTemplate><p>Loading...</p></NullTemplate>

    <EmptyTemplate><p>Nada encontrado...</p></EmptyTemplate>

    <ElementTemplate Context="ctxDiretor">

        <ProjetoCinema.Client.Shared.Singles.SingleDiretor diretor="ctxDiretor" Excluir="Excluir" />

    </ElementTemplate>

</GenericList>

<ProjetoCinema.Client.Shared.Dialog.ConfirmationDialog Titulo="Atenção!" @ref="confirmation" onCancel="onCancel" onConfirm="onConfirm">
    <div>Deseja apagar este item?</div>
</ProjetoCinema.Client.Shared.Dialog.ConfirmationDialog>

@code {
    ConfirmationDialog confirmation;
    [Parameter] public List<ProjetoCinema.Server.Models.Diretor> listaDiretores { get; set; }
    ProjetoCinema.Server.Models.Diretor diretorToDelete;

    private async Task onConfirm()
    {
        await diretorRepository.DeleteDiretor(diretorToDelete.CodDiretor);
        listaDiretores = await diretorRepository.GetDiretores();
        confirmation.Hide();
        diretorToDelete = null;
    }

    void onCancel()
    {
        confirmation.Hide();
        diretorToDelete = null;
    }

    public void Excluir(ProjetoCinema.Server.Models.Diretor diretor)
    {
        diretorToDelete = diretor;
        confirmation.Show();
    }

}

